<ul class="site-nav-dropdown">
  {% for childlink in linklists[link_child].links %}
  <li {% if linklists[childlink.handle] != empty %}class="dropdown dropdown-2"{% endif %}>

    <a href="{{ childlink.url }}" class="link-action-2 {% if childlink.active %}current{% endif %}">               
      <span>               
        {{ childlink.title | escape }}                
      </span>

    </a>
    {% if linklists[childlink.handle] != empty %}<i class="fa fa-caret-right"></i>{% endif %}
    <ul class="site-nav-dropdown-2">
      {% for childlink2 in linklists[childlink.handle].links %}
      <li {% if linklists[childlink2.handle] != empty %}class="dropdown dropdown-3"{% endif %}>

        <a href="{{ childlink2.url }}" class="link-action-3 {% if childlink2.active %}current{% endif %}">                     
          <span>                      
            {{ childlink2.title | escape }}                     
          </span>
        </a>
        {% if linklists[childlink2.handle] != empty  %}<i class="fa fa-caret-right"></i>{% endif %}
        <ul class="site-nav-dropdown-3">
          {% for childlink3 in linklists[childlink2.handle].links %}
          <li>                            
            <a href="{{ childlink3.url }}" class="{% if link.active %}current{% endif %}">                         
              <span>                           
                {{ childlink3.title | escape }}                           
              </span>                          
            </a>
          </li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>
  </li>
  {% endfor %}
</ul>