<div class="theme-tabs-container">
    <ul class="theme-tabs">
      {% if section.settings.product_tab1 %}<li><a href="#"> {{ section.settings.product_tab1_heading }} </a></li>{% endif %} 
      {% if section.settings.product_tab2 %}<li><a  href="#"> {{ section.settings.product_tab2_heading }}  </a></li>{% endif %}
      {% if section.settings.product_tab3 %}<li><a  href="#"> {{ section.settings.product_tab3_heading }}  </a></li>{% endif %}  
    </ul>
  {% if section.settings.product_tab1 %}
  <div class="theme-tabs-content" id="desc_pro">
    <p>{{ product.description }}</p>
  </div>
  {% endif %}
  {% if section.settings.product_tab2 %}
  <div class="theme-tabs-content">
    <div class="commentlist">
      <div class="comment-text">
        <div class="rating-review">
          <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
          <!--Start Stamped.io Auto Installation--><div id="stamped-main-widget" class="stamped-main-widget" data-widget-style="standard" data-product-id="{{ product.id }}" data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}" data-description="{{ product.description | escape }}" data-product-sku="{{product.handle}}" data-product-type="{{product.type}}">{{ product.metafields.stamped.reviews }}</div><!--End Stamped.io Auto Installation-->
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  {% if section.settings.product_tab3 %}
  <div class="theme-tabs-content">
    <p>{{ pages[section.settings.product_tab3_page].content }}</p>
  </div>
  {% endif %}                       
</div>

