<div data-section-id="{{ section.id }}" data-section-type="home-banner-with-text"> 
  <div class="grid-uniform CollectionItems">    
    <div class="home-banner-text-cover" style="{% if section.settings.image_1 != blank %}background-image:url('{{ section.settings.image_1 | img_url: '1920X' }}');background-repeat:no-repeat;background-position:center center; {% else %}background-color:{{section.settings.background_color}};{% endif%}"  >
      <div class="wrapper">
        <div class="grid__item extra-large--one-half post-large--one-half large--one-whole medium--one-whole small-grid__item">       
          <div class="left_banner_img">
            {% if section.settings.link_5 != blank %}<a class="_homebanner_half_img" href="{{ section.settings.link_5 }}">{% endif%}
            {% if section.settings.image_5 != blank %}
            <img  src="{{ psection.settings.image_5.src | img_url: '1200x' }}"
                 class="lazyload {{ settings.image_loading_style }}"
                 alt="{{ section.settings.image_5.alt }}"
                 data-sizes="auto"
                 data-src="{{ section.settings.image_5 | img_url }}"
                 data-srcset="{{ section.settings.image_5 | img_url: '2048x' }} 2048w,
                              {{ section.settings.image_5 | img_url: '1200x' }} 1200w,
                              {{ section.settings.image_5 | img_url: '1000x' }} 1000w,
                              {{ section.settings.image_5 | img_url: '800x' }} 800w,
                              {{ section.settings.image_5 | img_url: '600x' }} 600w,
                              {{ section.settings.image_5 | img_url: '400x' }} 400w"
                 />
            {% else %}
            <img src="//via.placeholder.com/951x567">
            {% endif%}           
            {% if section.settings.link_5 != blank %}  </a>
            {% endif%}
          </div>     
        </div>
        <div class="grid__item extra-large--one-half post-large--one-half large--one-whole medium--one-whole small-grid__item">
          <div class="home-banner-type-1-content">           
            <div class="sub_content">
              <div class="banner_top_image">
                {% if section.settings.top_image != blank %}
                 <img  src="{{ psection.settings.top_image.src | img_url: '1200x' }}"
                 class="lazyload {{ settings.image_loading_style }}"
                 alt="{{ section.settings.top_image.alt }}"
                 data-sizes="auto"
                 data-src="{{ section.settings.top_image | img_url }}"
                 data-srcset="{{ section.settings.top_image | img_url: '2048x' }} 2048w,
                              {{ section.settings.top_image | img_url: '1200x' }} 1200w,
                              {{ section.settings.top_image | img_url: '1000x' }} 1000w,
                              {{ section.settings.top_image | img_url: '800x' }} 800w,
                              {{ section.settings.top_image | img_url: '600x' }} 600w,
                              {{ section.settings.top_image | img_url: '400x' }} 400w"
                 />
                {% endif%}
              </div>
              {% if section.settings.right_image != blank %}
            <img src="{{ section.settings.right_image | img_url: '800x' }}" alt="{{ section.settings.title_5 }}" />
              
              <img  src="{{ psection.settings.right_image.src | img_url: '1200x' }}"
                 class="lazyload {{ settings.image_loading_style }}"
                 alt="{{ section.settings.right_image.alt }}"
                 data-sizes="auto"
                 data-src="{{ section.settings.right_image | img_url }}"
                 data-srcset="{{ section.settings.right_image | img_url: '2048x' }} 2048w,
                              {{ section.settings.right_image | img_url: '1200x' }} 1200w,
                              {{ section.settings.right_image | img_url: '1000x' }} 1000w,
                              {{ section.settings.right_image | img_url: '800x' }} 800w,
                              {{ section.settings.right_image | img_url: '600x' }} 600w,
                              {{ section.settings.right_image | img_url: '400x' }} 400w"
                 />
              {% endif%}
              {% if section.settings.text_1 != blank %}
              <h5 class="small-title "  style="color:{{ section.settings.text_color }};">{{ section.settings.text_1 }}     </h5>   
              {% endif %}  
              {% if section.settings.title_1 != blank %}
              <h2 style="color:{{ section.settings.title_color }};">{{ section.settings.title_1 }} </h2>
              {% endif %}
              {% if section.settings.title_2 != blank %}
              <h3 style="color:{{ section.settings.title_2_color }};">{{ section.settings.title_2 }} </h3>
              {% endif %}
            </div>
            <div class="deal-clock lof-clock-timer-detail fadeInUp animated"></div>
            {% assign dealTime = section.settings.deal_end_date | replace: '_',' ' %}  
            <div class="deal-content">
			 <script>
                //<![CDATA[
                jQuery(document).ready(function($){
                  $(".lof-clock-timer-detail").lofCountDown({      
                    TargetDate:"{{ dealTime }}",
                    DisplayFormat:"<ul class='list-inline'><li class='day fadeInUp animated'>%%D%%<span>Days</span></li><li class='hours'>%%H%%<span>Hours</span></li><li class='mins'>%%M%%<span>Minutes</span></li><li class='seconds'>%%S%%<span>Seconds</span></li></ul>",
                    FinishMessage: "Expired"
                  });
                });
                //]]>
              </script>
              {% if section.settings.deal_desc != blank %}
              <p style="color:{{section.settings.deal_desc_color}}">{{section.settings.deal_desc}}</p>
              {% endif %} 
              {% if section.settings.button_1 != blank %}
              <div class="deal-btn"> <a class="btn" href="{{ section.settings.link_1 }}" style="background:{{ section.settings.btn_bg_color }};color:{{ section.settings.btn_text_color }};">{{ section.settings.button_1 }}</a> </div>   
              {% endif %}         
            </div>  
          </div>
        </div>     
      </div>
    </div>   
  </div>
  <style>
    .home-banner-with-text .lof-clock-timer-detail ul li,.home-banner-with-text .lof-clock-timer-detail ul li span { color:{{ section.settings.time_color }}; }
    .home-banner-with-text .content .lof-clock-timer-detail li:after { background:{{ section.settings.time_color }}; }
    .home-banner-with-text .content .deal-clock.lof-clock-timer-detail li{border-bottom:1px solid {{section.settings.border_time_color}};background:{{section.settings.bg_time_color | color_modify: 'alpha', 0.07 }};}
    .home-banner-with-text .content .lof-clock-timer-detail li::before{border-bottom: 7px solid {{section.settings.border_time_color}};}
    .home-banner-with-text .btn:hover { background:{{ section.settings.btn_bg_hover_color }} !important;color:{{ section.settings.btn_hover_text_color }} !important;}
  </style>
</div> 

{% schema %}
{
    "name": "Home banner with text",
    "class": "index-section home-banner-with-text",
    "settings": [
    {
    "type": "image_picker",
    "id": "image_1",
    "label": "Background Image",
    "info": "Size: 1920x1000"
    },
    {
    "type": "color",
    "id": "background_color",
    "label":"Background color",
    "default": "#000"
    },
    {
      "type": "header",
      "content": "Left Block"
     },
    {
    "type": "image_picker",
    "id": "image_5",
    "label": "Left Image",
    "info": "Size: 767x1044"
    },
    {
    "type": "url",
    "id": "link_5",
    "label": "Link URL"
    },
    {
      "type": "header",
      "content": "Right Block"
     },
    {
    "type": "image_picker",
    "id": "top_image",
    "label": "Top Image",
    "info": "Size: 153x30"
    },
    {
    "type": "image_picker",
    "id": "right_image",
    "label": "Right Image",
    "info": "Size: 767x1044"
    },
    {
    "type": "text",
    "id": "title_1",
    "label": "Title"
    },
    {
    "type": "color",
    "id": "title_color",
    "label":"Title color",
    "default": "#000"
    },

    {
    "type": "text",
    "id": "text_1",
    "label": "Sub Heading"
    },
    {
    "type": "color",
    "id": "text_color",
    "label":"Sub Heading color",
    "default": "#000"
    },
    {
    "type": "text",
    "id": "title_2",
    "label": "Offer Text"
    },
    {
    "type": "color",
    "id": "title_2_color",
    "label":"Sub Title color",
    "default": "#000"
    },
    {
    "type": "textarea",
    "id": "deal_desc",
    "label": "Short desc"
    },
    {
    "type": "color",
    "id": "deal_desc_color",
    "label":"Desc Color",
    "default": "#000"
    },
    {
    "type": "text",
    "id": "button_1",
    "label": "Button text"
    },

    {
    "type": "url",
    "id": "link_1",
    "label": "Link URL"
    },
    {
    "type": "color",
    "id": "btn_bg_color",
    "label": "Button Bg",
    "default": "#000"
    },
    {
    "type": "color",
    "id": "btn_text_color",
    "label": "Button Color",
    "default": "#fff"
    },
    {
    "type": "color",
    "id": "btn_bg_hover_color",
    "label": "Button Bg Hover",
    "default": "#dc1d24"
    },
    {
    "type": "color",
    "id": "btn_hover_text_color",
    "label": "Button Hover Color",
    "default": "#fff"
    }


    ],
    "presets": [
    {
    "name": "Home banner with text",
    "category": "Image"
    }
    ]
    }
    {% endschema %}


