<div data-section-id="{{ section.id }}"  data-section-type="product-tab-type-1" class="product-tab-type-1" style="float:left;width:100%;">     
  <div class="container">

    <div class="full_width_tab">    
      <div class="grid-uniform">          

        <div class="grid__item">      
          <div class="theme-tabs-container-section"> 
            {% if section.settings.title_1 != blank %}
            <div class="border-title text-center wow fadeInDown animated">
              <h2 class="section-title" style="color:{{ section.settings.title_1_clr }};">{{ section.settings.title_1 }}</h2>
            </div>
            {% endif %}

            {% if section.blocks.size > 0 %} 
            <div class="theme-tabs-container"> 
              <ul class="theme-tabs wow fadeInUp animated">         
                {% for block in section.blocks %} 
                {% if block.settings.title != blank %}
                <li><a href="#" class="tabs-{{ block.id }}">{{ block.settings.title }} </a></li>           
                {% endif %}
                {% endfor %}
              </ul>
              {% for block in section.blocks %}
              {%- assign collection = collections[block.settings.collection] -%}   
              {%- assign grid_item_width = ' ' -%}
              <div class="theme-tabs-content">
                <ul class="tab2 {{ block.id }} owl-carousel owl-theme">
                  {% for product in collection.products %}
                  {% include 'product-grid-item' , grid_item_width:" " %}  
                  {% else %}
                  {% for i in (1..8) %}
                  <li class="grid__item item-row  on-sale" id="product-{{ i }}">
                    <div class="products">
                      <div class="product-container">
                        <a href="#" class="grid-link"> 
                          {% if forloop.index == 3 %}
                          <div class="featured-tag">
                            <span class="badge badge--sale">
                              <span class="gift-tag badge__text{% if sale_text.size > 7 %} badge__text--small{% endif %}">{{ 'products.product.sale' | t }}</span>
                            </span>
                          </div>{% endif %}

                          <div class="reveal"> 
                            {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                            {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }} 
                          </div>
                        </a>
                        <div class="ImageWrapper">
                          <div class="product-button">

                          </div>
                        </div>
                      </div>
                      <div class="product-detail"> 
                        <a href="#" class="grid-link__title">Sample title {{ i }}</a>

                        <div class="grid-link__meta">
                          <div class="product_price"> <span class="money" data-currency-usd="$320.00">$0.00</span> </div>
                          <del class="grid-link__sale_price"><span class="money" data-currency-usd="$756.00">$0.00</span></del> </div>
                        <span class="spr-badge" id="spr_badge_6529189125" data-rating="0.0"> 
                          <span class="spr-starrating spr-badge-starrating"><i class="spr-icon spr-icon-star-empty" style="color: #f05315;"></i><i class="spr-icon spr-icon-star-empty" style="color: #f05315;"></i><i class="spr-icon spr-icon-star-empty" style="color: #f05315;"></i><i class="spr-icon spr-icon-star-empty" style="color: #f05315;"></i><i class="spr-icon spr-icon-star-empty" style="color: #f05315;"></i></span> <span class="spr-badge-caption"> </span> </span>

                      </div>
                    </div>
                  </li>
                  {% endfor %} 
                  {% endfor %}
                </ul>
                <div class="tab_2_nav {{ block.id }} carousel-arrow"> </div>
              </div>



              <script type="text/javascript">       
                $(document).ready(function(){
                  var tab2 = $('.tab2.{{ block.id }}');
                               tab2.owlCarousel({
                               loop:false,                      
                               nav:true,
                               navContainer: ".tab_2_nav.{{ block.id}}",
                               navText: ['<a class="prev active"><i class="fa fa-angle-left" aria-hidden="true"></i></a>','<a class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>'],
                               dots: false, 
                               nav: true,
                               autoplayTimeout: 3000,
                               responsive:{
                               0:{
                               items: 2
                               },
                               568:{
                               items: 2
                               },
                               768:{
                               items:3
                               },
                               1000:{
                               items: 4
                               },
                               1200:{
                               items: 4
                               },
                               1600:{
                               items: 4
                               }
                               }
                               });
                });

              </script>
              {% endfor %}                
            </div><!--End tabs container-->
            {% endif %}
            <div class="btn button_link">
              <a href="/collections/lingerie" class="button">View all <i class="fa-solid fa-angle-right"></i></a>
            </div> 
          </div>

        </div>
        {% for block in section.blocks %}
        <style>
          .product-tab-type-1 .full_width_tab ul.theme-tabs  li a { color:{{ section.settings.tag_clr }}; }
          .product-tab-type-1 .full_width_tab ul.theme-tabs  li a.tabs-{{ block.id }}:hover,.product-tab-type-1 .full_width_tab ul.theme-tabs li a.current { color:{{ section.settings.tag_hover_clr }}; }
          .product-tab-type-1 .full_width_tab ul.theme-tabs li a.current::after {background:{{section.settings.tag_hover_clr}};}

        </style>
        {% endfor %}
      </div> 
    </div>
  </div>
</div>
<div class="theme-hr-invisible-large"></div>   

{% schema %}
{
"name": "Product Tab",
"class": "index-section",
"max_blocks": 4,
"settings": [

{
"type": "textarea",
"id": "title_1",
"label": "Heading"
},
{
"type": "color",
"id": "title_1_clr",
"label": "Heading",
"default": "#000"
},        

{
"type": "color",
"id": "tag_clr",
"label": "Tag Color",
"default": "#000"
},
{
"type": "color",
"id": "tag_hover_clr",
"label": "Tag Hover Color",
"default": "#fff"
},
{
"type": "color",
"id": "tag_border_clr",
"label": "Tag Border Color",
"default": "#000"
}

],
"blocks": [ 
{
"type": "text_block",
"name": "Collection",
"settings": [
{
"type": "text",
"id": "title",
"label": "Collection Name",
"default": "Tab Name"
},  

{
"id": "collection",
"type": "collection",
"label": "Collection"
}
]
}
],
"presets": [
{
"name": "Product Tab",
"category": "Collection",
"blocks": [
{
"type": "text_block"
}        
]
}
]
}
{% endschema %}
